.campersListItemWrapper {
  display: flex;
  column-gap: 24px;
  border: 1px solid var(--gray-light);
  border-radius: 20px;
  padding: 24px;
  background-color: var(--white);
  .imageWrapper {
    min-width: 292px;
    min-height: 320px;
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--gray);
    & > img {
      object-fit: cover;
      object-position: center;
      height: 320px;
    }
  }

  .infoCamperWrapper {
    width: 100%;
    .titlePriceWrapper {
      display: flex;
      justify-content: space-between;
      .camperTitle {
        display: inline-block;
        font-weight: 600;
        font-size: 24px;
        line-height: 1.33;
      }
      .price {
        display: flex;
        align-items: center;
        gap: 12px;
        font-weight: 600;
        font-size: 24px;
        line-height: 1.33;
      }
      .favoriteIcon {
        cursor: pointer;
        fill: var(--main);
        transition: fill var(--hover-focus-eff);
        &.active {
          fill: var(--button);
        }
      }
    }

    .addressCamper {
      position: relative;
      display: inline-block;
      margin-bottom: 24px;
      .addressIcon {
        position: absolute;
        vertical-align: middle;
        top: 2px;
        left: -20px;
      }
    }
    .camperDescription {
      max-width: 460px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--text);
      margin-bottom: 24px;
    }
    .detailsLink {
      display: inline-block;
      font-weight: 500;
      letter-spacing: -0.01em;
      color: var(--white);
      outline: transparent;
      border-radius: 200px;
      padding: 16px 43px;
      background-color: var(--button);
      transition: background-color var(--hover-focus-eff);

      &:hover,
      &:focus {
        background-color: var(--button-hover);
      }
    }
  }
}
