.heroImg {
  background-image: image-set(
    url(../../img/hero.webp) 1x,
    url(../../img//hero@2x.webp) 2x
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heroText {
  padding: 260px 64px;
}

.catalogForm {
  display: inline-block;
  max-width: 360px;
  padding-top: 48px;
  padding-right: 32px;
}

.catalog {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
}
