@import url(./fonts.css);

:root {
  --main: #101828;
  --text: #475467;
  --gray: #6c717b;
  --button: #e44848;
  --button-hover: #d84343;
  --rating: #ffc531;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #ffffff;

  --font-family: 'Inter', sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
