@import url(./fonts.css);

:root {
  --main: #101828;
  --text: #475467;
  --gray: #6c717b;
  --button: #e44848;
  --button-hover: #d84343;
  --rating: #ffc531;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #ffffff;

  --hover-focus-eff: 250ms linear;

  --font-family: 'Inter', sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
  font-family: var(--font-family);

  color-scheme: light dark;
  color: var(--main);
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a,
button {
  cursor: pointer;
  &:focus {
    outline: transparent;
  }
}

a {
  text-decoration: none;
}

img {
  display: block;
  height: 100%;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
label,
input {
  box-sizing: border-box;
  outline: transparent;
  display: block;
}

figure {
  margin: 0;
}
