@font-face {
  font-family: 'Inter';
  src: url(../assets/fonts/Inter_28pt-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(../assets/fonts/Inter_28pt-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(../assets/fonts/Inter_24pt-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}
