.equipWrapper {
  .equipIconsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 48px;
    mix-blend-mode: multiply;
    border-radius: 100px;
    padding: 12px 18px;
    background-color: var(--badges);
    & > svg {
      fill: var(--main);
      margin-right: 8px;
    }
    .equipText {
      font-weight: 500;
      display: inline-block;
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
}
