.featuresWrapper {
  margin-bottom: 20px;
  display: inline-block;
  width: 631px;
  background-color: var(--inputs);
  padding: 44px 52px;
  border-radius: 10px;
  margin-right: 40px;
  .vehicleTitle {
    position: relative;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 48px;
    &::after {
      box-sizing: border-box;
      content: '';
      position: absolute;
      left: 0;
      bottom: -24px;
      width: 100%;
      height: 1px;
      background-color: var(--gray-light);
    }
  }
}
